:root {
  --div-background-color: #fff;
  --div-navbar-color: #3a3737;
  --text-color: #0f0f10;
  --text-active: #e7a50a;
}
.darkmode {
  --div-background-color: #ffeebb;
  --div-navbar-color: #f86f03;
  --text-color: #73b8ba;
  --text-active: #0e0e0e;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--div-background-color);
  color: var(--text-color);
}
.navbar {
  background-color: var(--div-navbar-color);
}
.navbar a {
  color: var(--div-background-color);
}
.navbar .active {
  color: var(--text-active) !important;
}
.navbar a:hover {
  color: var(--div-background-color);
}
.navbar-toggler-icon {
  background-color: var(--div-background-color);
}
footer {
  color: var(--div-background-color);
}
.carousel {
  color: var(--text-color);
}
.fa-bars {
  color: var(--div-background-color) !important;
}
.service-card .btn {
  background-color: var(--div-navbar-color);
  color: var(--div-background-color);
}
.Toggle {
  color: var(--div-background-color);
}
.poster {
  background-color: var(--div-background-color);
}
.poster .row {
  background-color: var(--div-background-color);
}
.poster li {
  background-color: var(--div-background-color);
}
.FAQ .accordion-body {
  background-color: var(--div-background-color);
}

.FAQ button {
  color: var(--text-color);
  background-color: var(--div-background-color);
}
.carousel-item img {
  max-width: 100%;
  height: 600px;
  color: var(--div-navbar-color);
}
.kontak {
  background: url(/asset/kontak1.png) no-repeat center center;
  background-size: cover;
  padding-bottom: 20%;
  padding-top: 20%;
  height: auto;
  background-color: var(--div-navbar-color);
}
.kontak p {
  color: var(--div-background-color);
}
.welcom {
  text-align: justify;
}
.post {
  display: inline-block;
  background-color: var(--div-navbar-color);
  border-radius: 10px;
  border: 2px solid var(--div-navbar-color);
  margin-right: 10px;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.fa-user {
  display: inline-block;
  vertical-align: middle;
  margin-top: -50px;
}
.about {
  background-color: var(--div-background-color);
  border: 2px solid var(--div-navbar-color);
  border-radius: 10px;
}
.justify {
  text-align: justify;
}
.iconabout {
  margin-top: -70px;
}
.mitra {
  background-color: var(--div-background-color);
}
.mitra img {
  height: auto;
  max-height: 100px;
}

.poster {
  border: 2px solid var(--div-navbar-color);
  margin-top: 20px;
}
.poster-detail {
  border-color: transparent;
}
.text {
  margin-top: -20px;
}
.text a {
  text-decoration: none !important;
  color: var(--text-color);
}
.date {
  display: flex;
  align-items: center;
}
.date i,
.date p {
  margin-right: 15px;
}

/* responsive */
@media (max-width: 450px) {
  html {
    font-size: 75%;
  }
  .bout {
    margin-top: 20px;
  }

  .welcom {
    margin-top: 20px;
  }

  .col-md-4 {
    margin-bottom: 20px;
  }

  .mitra img {
    max-width: 70%;
  }
  .form-control {
    max-width: 100%;
  }
  .contact-margin {
    margin-top: 10px;
  }

  .service {
    margin-top: 20px;
  }
  .service-card {
    max-width: 80%;
    margin-left: 30px;
    margin-top: 20px;
  }
  .poster {
    max-width: 90%;
    margin-left: 10px;
    margin-top: 20px;
  }
  .berita {
    max-width: 90%;
    margin-left: 10px;
  }
  .inframe inframe {
    width: 200px;
  }
  .post-icon {
    padding-top: 4px;
  }
  .kontak-faq {
    margin-top: 10px;
  }

  .kontak input,
  .kontak textarea,
  .kontak button {
    width: 100%;
  }

  .contact-margin {
    margin-top: 40px;
  }

  .col-md-4 {
    margin-bottom: 20px;
  }

  iframe {
    width: 100%;
    height: 200px;
  }

  .kontak h2 {
    font-size: 24px;
  }
}
